html {
     background-color: #c7bdb8;
}

.card {
     border: 3px ridge #6C6B69;
     border-radius: 15px;
     box-shadow: 10px 5px 10px #FDFFFE;
     background-color: #e0d7d1;
     margin: auto;
     width: 320px;
     font-family: 'Slabo 27px', serif;
}

figure {
     margin: 0;
}

.name {
     text-align: center;
     font-style: italic;
     margin: 5px;
     font-size: 30px;
     font-weight: bold;
}

.image {
     border: ridge #6C6B69 2px;
     border-radius: 15px;
     width: 300px;
     display: block;
     margin: 0 auto 10px;
}

.information {
     border: ridge #6C6B69 2px;
     border-radius: 15px;
     background: linear-gradient(#ddd7d5, #988781);
     width: 280px;
     padding: 0 10px 10px;
     margin: 10px auto;
}

.fact {
     font-style: italic;
}

.list {
     list-style-type: none;
     padding: 0;
}

.labels {
     font-weight: bold;
}

.discrName {
     font-style: italic;
     font-weight: bold;
     font-size: 16px;
}

.facts {
     padding: 0;
     list-style-type: none;
     text-align: justify;
}

.factsText {
     margin: 10px;
}

.source {
     margin: -10px 0 0;
}

.card {
     -webkit-transition: color 1s ease-in;
     /*safari and chrome */
     -moz-transition: color 1s ease-in;
     /* firefox */
     -o-transition: color 1s ease-in;
     /* opera */
}

.card:hover {
     color: #744d25;
     text-shadow: 1px 1px 6px #fff;
}